In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Importing Data

In [2]:
final_df = pd.read_csv('../../Data/final_csv_all_data.csv')
final_df.head()

,Entity,Code,Year,kg_per_yr_per_capita,Production_in_tons,Population (historical estimates),Life_Expectancy_years,continent
0,Afghanistan,AFG,1961,0.030559,300.0,8790140,32.96,Asia
1,Afghanistan,AFG,1962,0.030578,300.0,8969055,33.47,Asia
2,Afghanistan,AFG,1963,0.030598,300.0,9157463,33.97,Asia
3,Afghanistan,AFG,1964,0.030614,300.0,9355510,34.46,Asia
4,Afghanistan,AFG,1965,0.030627,300.0,9565154,34.95,Asia

In [4]:
protein_all = pd.read_csv('Data/all_protein_consumption_sources.csv')
protein_animal = pd.read_csv('Data/animal_protein_consumption.csv')

In [5]:
col_to_merge = ['Entity', 'Code', 'Year', 'fish_and_seafood_kg_protein_per_capita', 'percent_fish_total_protein_per_capita']
compiled_df = final_df.merge(protein_all[col_to_merge], on=['Entity', 'Code', 'Year'])

col_to_merge = ['Entity', 'Code', 'Year', 'percent_fish_protein_all_animal']
compiled_df = compiled_df.merge(protein_animal[col_to_merge], on=['Entity', 'Code', 'Year'])

## ML Testing

In [7]:
from sklearn.linear_model import SGDClassifier
import numpy as np
from sklearn.model_selection import train_test_split

no_na = compiled_df.dropna(how='any')

X = no_na.drop(['continent', 'Entity', 'Code'], axis=1)
y = no_na['continent']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=12)

clf = SGDClassifier(loss="hinge", penalty="l2", random_state=25)
clf.fit(X_train, y_train)
SGDClassifier()
clf.score(X_test, y_test)

0.22747635639621702

In [8]:
from sklearn import svm

clf2 = svm.SVC()
clf2.fit(X_train, y_train)
clf2.score(X_test, y_test)

0.3429566948730712

In [2]:
import pandas as pd
df = pd.read_csv('./Data/joined_sets.csv')