In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
pd.set_option('display.max_columns', None)

In [12]:
df = pd.read_csv('../../Data/final_csv_all_data.csv')

# Option here
if we want to look at a single continent and try to make predictions we can use the cell below to specify the continent

In [13]:
# Specifying which continent to look at

df = df[df['continent'] == 'North America'].reset_index(drop=True)

In [14]:
df.drop(['Code', 'Entity'], inplace=True, axis=1)
df = df.dropna().reset_index(drop=True)

In [15]:
df['Life_Expectancy_years'].isna().sum()

0

In [16]:
y = df['Life_Expectancy_years']
X = df.drop(['Life_Expectancy_years', 'continent'], axis=1)

# Note!
the cell below needs to be commented out if the df is looking at just 1 continent, else uncomment

In [17]:
# comment this out if looking at a single continent

# temp = pd.get_dummies(df['continent'])
# X = pd.concat([X, temp], axis=1)

In [18]:
X

,Year,kg_per_yr_per_capita,Production_in_tons,Population (historical estimates)
0,1961,36.002598,800.0,56264
1,1962,35.949430,800.0,57029
2,1963,35.465965,800.0,57794
3,1964,36.215195,700.0,58682
4,1965,37.298874,800.0,59664
...,...,...,...,...
1094,2016,21.688387,5348160.0,327210208
1095,2017,22.080343,5475780.0,329791232
1096,2018,22.443901,5264770.0,332140032
1097,2019,22.569592,5349930.0,334319680
1098,2020,22.454920,5349930.0,335942016

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)
print(model.score(X_test, y_test))

Mean Squared Error: 21.398301351524704
0.6642847622379959

In [27]:
x = np.array([[2043, 27.183, 6858809, 370000000]])
prediction = model.predict(x)

print("Predicted Life Expectancy:", prediction)

Predicted Life Expectancy: [94.75306148]

# comparatives
https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/lifeexpectancies/bulletins/pastandprojecteddatafromtheperiodandcohortlifetables/1981to2068 - avg: 93

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2888016/ avg: 88